html,
body {
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  overflow: hidden;
  font-family: "Microsoft YaHei UI", "Microsoft YaHei", "Hiragino Sans GB", " WenQuanYi Micro Hei";
  background-image: url("imgs/bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: background 3s;
  -moz-transition: background 3s;
  transition: background 3s;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}
#notice {
  position: fixed;
  width: 100%;
  height: 2em;
  top: -8em;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  z-index: 50;
}
#notice.show {
  top: 0;
}
#notice #notice-context {
  display: inline-block;
  background-color: #fff;
  border: 2px solid #777;
  border-radius: 1em;
  padding: 0.5em;
}
#notice #notice-context.error {
  border: 2px solid #a77;
}
#notice #notice-context a {
  color: #000;
}
body.joinus {
  background-position: 60% 50%;
}
body.joinus .background {
  opacity: 0;
}
body.joinus #wrapper {
  left: 20%;
}
body.joinus .item {
  opacity: 1;
  -webkit-transition-delay: 0 !important;
  -moz-transition-delay: 0 !important;
  transition-delay: 0 !important;
}
body.joinus .item#hr {
  top: -200px;
  left: 0;
}
body.joinus .item#photo {
  top: -141.4px;
  left: 141.4px;
}
body.joinus .item#news {
  top: 0;
  left: 200px;
}
body.joinus .item#video {
  top: 141.4px;
  left: 141.4px;
}
body.joinus .item#outreach {
  top: 200px;
  left: 0;
}
body.joinus .item#tide {
  top: 141.4px;
  left: -141.4px;
}
body.joinus .item#tech {
  top: 0;
  left: -200px;
}
body.joinus .item#pm {
  top: -141.4px;
  left: -141.4px;
}
.logo {
  outline: 0;
  display: block;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  text-decoration: none;
}
.logo .logo-img {
  background-image: url("imgs/logo-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
}
.logo .logo-txt {
  text-align: center;
  font-size: 24px;
  margin-top: -24px;
  letter-spacing: -0.5em;
  text-indent: -0.5em;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  color: #fff;
  text-decoration: none;
}
.logo:hover .logo-txt {
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  opacity: 1;
}
#wrapper {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.item {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-property: top, left, opacity;
  -moz-transition-property: top, left, opacity;
  transition-property: top, left, opacity;
  opacity: 0;
}
.item .front {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  position: absolute;
  z-index: 10;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.item .front:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1em #fff;
  -moz-box-shadow: 0 0 1em #fff;
  box-shadow: 0 0 1em #fff;
}
.item .front .title {
  width: 100%;
}
.item .front .title span.line {
  font-size: 1.5em;
  display: block;
  text-align: center;
  line-height: 16px;
  height: 16px;
}
.item .front .title.one-line {
  padding-top: 42px;
}
.item .front .title.two-line {
  padding-top: 34px;
}
.item .front .intro {
  display: none;
}
.item#tech {
  top: -750px;
  left: 0;
}
.item#tech .front {
  border-color: #fdccff;
}
.item#tech .line {
  color: #fdccff;
}
.item#video {
  top: -530.25px;
  left: 530.25px;
}
.item#video .front {
  border-color: #ffccd8;
}
.item#video .line {
  color: #ffccd8;
}
.item#photo {
  top: 0;
  left: 750px;
}
.item#photo .front {
  border-color: #fec;
}
.item#photo .line {
  color: #fec;
}
.item#news {
  top: 530.25px;
  left: 530.25px;
}
.item#news .front {
  border-color: #e8ffcc;
}
.item#news .line {
  color: #e8ffcc;
}
.item#tide {
  top: 750px;
  left: 0;
}
.item#tide .front {
  border-color: #ccffd5;
}
.item#tide .line {
  color: #ccffd5;
}
.item#hr {
  top: 530.25px;
  left: -530.25px;
}
.item#hr .front {
  border-color: #ccfffe;
}
.item#hr .line {
  color: #ccfffe;
}
.item#outreach {
  top: 0;
  left: -750px;
}
.item#outreach .front {
  border-color: #ccdeff;
}
.item#outreach .line {
  color: #ccdeff;
}
.item#pm {
  top: -530.25px;
  left: -530.25px;
}
.item#pm .front {
  border-color: #d7ccff;
}
.item#pm .line {
  color: #d7ccff;
}
body.ready .item {
  opacity: 1;
}
body.ready .item#tech {
  top: -250px;
  left: 0;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
body.ready .item#video {
  top: -176.75px;
  left: 176.75px;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
body.ready .item#photo {
  top: 0;
  left: 250px;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
body.ready .item#news {
  top: 176.75px;
  left: 176.75px;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
body.ready .item#tide {
  top: 250px;
  left: 0;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
body.ready .item#hr {
  top: 176.75px;
  left: -176.75px;
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
body.ready .item#outreach {
  top: 0;
  left: -250px;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
body.ready .item#pm {
  top: -176.75px;
  left: -176.75px;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
body.tech .item#tech {
  top: 0;
  left: -250px;
}
.background.tech {
  background-image: -webkit-linear-gradient(180deg, #f5d9ff, #a3a3cc);
  background-image: -moz-linear-gradient(180deg, #f5d9ff, #a3a3cc);
  background-image: -o-linear-gradient(180deg, #f5d9ff, #a3a3cc);
  background-image: linear-gradient(180deg, #f5d9ff, #a3a3cc);
}
body[hover=tech] #wrapper .item .front {
  opacity: 0.5;
}
body[hover=tech] #wrapper .item#tech .front {
  opacity: 1;
  border-color: #fff;
}
body[hover=tech] #wrapper .item#tech .front span {
  color: #a3a3cc;
}
body.video .item#video {
  top: 176.75px;
  left: 176.75px;
}
.background.video {
  background-image: -webkit-linear-gradient(180deg, #ffd9ec, #c2a3cc);
  background-image: -moz-linear-gradient(180deg, #ffd9ec, #c2a3cc);
  background-image: -o-linear-gradient(180deg, #ffd9ec, #c2a3cc);
  background-image: linear-gradient(180deg, #ffd9ec, #c2a3cc);
}
body[hover=video] #wrapper .item .front {
  opacity: 0.5;
}
body[hover=video] #wrapper .item#video .front {
  opacity: 1;
  border-color: #fff;
}
body[hover=video] #wrapper .item#video .front span {
  color: #c2a3cc;
}
body.photo .item#photo {
  top: -176.75px;
  left: 176.75px;
}
.background.photo {
  background-image: -webkit-linear-gradient(180deg, #ffe2d9, #ccada3);
  background-image: -moz-linear-gradient(180deg, #ffe2d9, #ccada3);
  background-image: -o-linear-gradient(180deg, #ffe2d9, #ccada3);
  background-image: linear-gradient(180deg, #ffe2d9, #ccada3);
}
body[hover=photo] #wrapper .item .front {
  opacity: 0.5;
}
body[hover=photo] #wrapper .item#photo .front {
  opacity: 1;
  border-color: #fff;
}
body[hover=photo] #wrapper .item#photo .front span {
  color: #cca3b8;
}
body.news .item#news {
  top: 0;
  left: 250px;
}
.background.news {
  background-image: -webkit-linear-gradient(180deg, #ffffd9, #ccada3);
  background-image: -moz-linear-gradient(180deg, #ffffd9, #ccada3);
  background-image: -o-linear-gradient(180deg, #ffffd9, #ccada3);
  background-image: linear-gradient(180deg, #ffffd9, #ccada3);
}
body[hover=news] #wrapper .item .front {
  opacity: 0.5;
}
body[hover=news] #wrapper .item#news .front {
  opacity: 1;
  border-color: #fff;
}
body[hover=news] #wrapper .item#news .front span {
  color: #ccada3;
}
body.tide .item#tide {
  top: 176.75px;
  left: -176.75px;
}
.background.tide {
  background-image: -webkit-linear-gradient(180deg, #e2ffd9, #cccca3);
  background-image: -moz-linear-gradient(180deg, #e2ffd9, #cccca3);
  background-image: -o-linear-gradient(180deg, #e2ffd9, #cccca3);
  background-image: linear-gradient(180deg, #e2ffd9, #cccca3);
}
body[hover=tide] #wrapper .item .front {
  opacity: 0.5;
}
body[hover=tide] #wrapper .item#tide .front {
  opacity: 1;
  border-color: #fff;
}
body[hover=tide] #wrapper .item#tide .front span {
  color: #cccca3;
}
body.hr .item#hr {
  top: -250px;
  left: 0;
}
.background.hr {
  background-image: -webkit-linear-gradient(180deg, #d9ffec, #adcca3);
  background-image: -moz-linear-gradient(180deg, #d9ffec, #adcca3);
  background-image: -o-linear-gradient(180deg, #d9ffec, #adcca3);
  background-image: linear-gradient(180deg, #d9ffec, #adcca3);
}
body[hover=hr] #wrapper .item .front {
  opacity: 0.5;
}
body[hover=hr] #wrapper .item#hr .front {
  opacity: 1;
  border-color: #fff;
}
body[hover=hr] #wrapper .item#hr .front span {
  color: #adcca3;
}
body.outreach .item#outreach {
  top: 250px;
  left: 0;
}
.background.outreach {
  background-image: -webkit-linear-gradient(180deg, #d9f5ff, #a3ccb8);
  background-image: -moz-linear-gradient(180deg, #d9f5ff, #a3ccb8);
  background-image: -o-linear-gradient(180deg, #d9f5ff, #a3ccb8);
  background-image: linear-gradient(180deg, #d9f5ff, #a3ccb8);
}
body[hover=outreach] #wrapper .item .front {
  opacity: 0.5;
}
body[hover=outreach] #wrapper .item#outreach .front {
  opacity: 1;
  border-color: #fff;
}
body[hover=outreach] #wrapper .item#outreach .front span {
  color: #a3ccb8;
}
body.pm .item#pm {
  top: -176.75px;
  left: -176.75px;
}
.background.pm {
  background-image: -webkit-linear-gradient(180deg, #d9d9ff, #a3c2cc);
  background-image: -moz-linear-gradient(180deg, #d9d9ff, #a3c2cc);
  background-image: -o-linear-gradient(180deg, #d9d9ff, #a3c2cc);
  background-image: linear-gradient(180deg, #d9d9ff, #a3c2cc);
}
body[hover=pm] #wrapper .item .front {
  opacity: 0.5;
}
body[hover=pm] #wrapper .item#pm .front {
  opacity: 1;
  border-color: #fff;
}
body[hover=pm] #wrapper .item#pm .front span {
  color: #a3c2cc;
}
.detail-wrapper {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition-property: background-color, width;
  -moz-transition-property: background-color, width;
  transition-property: background-color, width;
  -webkit-transition-delay: 0s, 0.5s;
  -moz-transition-delay: 0s, 0.5s;
  transition-delay: 0s, 0.5s;
  -webkit-transition-duration: 1s, 1s;
  -moz-transition-duration: 1s, 1s;
  transition-duration: 1s, 1s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.detail-wrapper .background-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  background-repeat: no-repeat;
  -webkit-transition-property: opacity, background-position, background-size;
  -moz-transition-property: opacity, background-position, background-size;
  transition-property: opacity, background-position, background-size;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease, ease;
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease, ease;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease, ease;
  -webkit-transition-duration: 0.5s, 6s, 6s;
  -moz-transition-duration: 0.5s, 6s, 6s;
  transition-duration: 0.5s, 6s, 6s;
  opacity: 0;
}
.detail-wrapper .background-slider.hide {
  display: none;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
}
.detail-wrapper .detail {
  position: absolute;
  width: 0;
  height: 0;
  margin-top: 0;
  border-radius: 5000px;
  top: 50%;
  right: 60%;
  background-color: #fff;
  -webkit-transition: all 1s ease 0.2s;
  -moz-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
.detail-wrapper .detail .back {
  height: 100px;
  width: 50px;
  font-size: 48px;
  line-height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  right: 1em;
  z-index: 25;
  color: #000;
  text-decoration: none;
}
.detail-wrapper .detail .nav {
  position: fixed;
  width: 30%;
  top: 2em;
  left: -30%;
  -webkit-transition: left 0.5s ease-in 0s;
  -moz-transition: left 0.5s ease-in 0s;
  transition: left 0.5s ease-in 0s;
  z-index: 25;
}
.detail-wrapper .detail .nav a {
  text-decoration: none;
  color: #000;
}
.detail-wrapper .detail .nav .prev {
  margin-left: 2em;
}
.detail-wrapper .detail .nav .prev:before {
  content: "<";
  margin-right: 0.5em;
  font-weight: 700;
}
.detail-wrapper .detail .nav .next {
  float: right;
}
.detail-wrapper .detail .nav .next:after {
  content: ">";
  margin-left: 0.5em;
  font-weight: 700;
}
.detail-wrapper .detail .txt-wrapper {
  position: fixed;
  height: 100%;
  width: 30%;
  line-height: 100vh;
  top: 0;
  left: -30%;
  -webkit-transition: left 0.5s ease-in 0s;
  -moz-transition: left 0.5s ease-in 0s;
  transition: left 0.5s ease-in 0s;
}
.detail-wrapper .detail .txt-wrapper .txt-aligner {
  line-height: 1.5em;
  display: inline-block;
  padding-left: 2em;
  vertical-align: middle;
  margin: 3em 0;
}
.detail-wrapper .detail .txt-wrapper .txt-aligner p {
  text-indent: 2em;
}
.detail-wrapper .detail .join {
  display: block;
  height: 2em;
  line-height: 2em;
  border-radius: 2em;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.detail-wrapper .department-logo {
  width: 60%;
  height: 100%;
  right: -60%;
  top: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 400px auto;
  -webkit-transition: right 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s;
  -moz-transition: right 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s;
  transition: right 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s;
}
.detail-wrapper:target {
  width: 100%;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.detail-wrapper:target .detail {
  width: 2000px;
  height: 2000px;
  margin-top: -1000px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.detail-wrapper:target .detail .txt-wrapper,
.detail-wrapper:target .detail .nav {
  -webkit-transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  -moz-transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  left: 0;
}
.detail-wrapper:target .department-logo {
  right: 0;
  -webkit-transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  -moz-transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
.detail-wrapper#detail-hr {
  background-image: -webkit-linear-gradient(180deg, #d9ffec, #adcca3);
  background-image: -moz-linear-gradient(180deg, #d9ffec, #adcca3);
  background-image: -o-linear-gradient(180deg, #d9ffec, #adcca3);
  background-image: linear-gradient(180deg, #d9ffec, #adcca3);
}
.detail-wrapper#detail-hr .department-logo {
  background-image: url("imgs/hr.png");
}
.detail-wrapper#detail-photo {
  background-image: -webkit-linear-gradient(180deg, #ffe2d9, #ccada3);
  background-image: -moz-linear-gradient(180deg, #ffe2d9, #ccada3);
  background-image: -o-linear-gradient(180deg, #ffe2d9, #ccada3);
  background-image: linear-gradient(180deg, #ffe2d9, #ccada3);
}
.detail-wrapper#detail-photo .department-logo {
  background-image: url("imgs/photo.png");
}
.detail-wrapper#detail-news {
  background-image: -webkit-linear-gradient(180deg, #ffffd9, #ccada3);
  background-image: -moz-linear-gradient(180deg, #ffffd9, #ccada3);
  background-image: -o-linear-gradient(180deg, #ffffd9, #ccada3);
  background-image: linear-gradient(180deg, #ffffd9, #ccada3);
}
.detail-wrapper#detail-news .department-logo {
  background-image: url("imgs/news.png");
}
.detail-wrapper#detail-video {
  background-image: -webkit-linear-gradient(180deg, #ffd9ec, #c2a3cc);
  background-image: -moz-linear-gradient(180deg, #ffd9ec, #c2a3cc);
  background-image: -o-linear-gradient(180deg, #ffd9ec, #c2a3cc);
  background-image: linear-gradient(180deg, #ffd9ec, #c2a3cc);
}
.detail-wrapper#detail-video .department-logo {
  background-image: url("imgs/video.png");
}
.detail-wrapper#detail-outreach {
  background-image: -webkit-linear-gradient(180deg, #d9f5ff, #a3ccb8);
  background-image: -moz-linear-gradient(180deg, #d9f5ff, #a3ccb8);
  background-image: -o-linear-gradient(180deg, #d9f5ff, #a3ccb8);
  background-image: linear-gradient(180deg, #d9f5ff, #a3ccb8);
}
.detail-wrapper#detail-outreach .department-logo {
  background-image: url("imgs/outreach.png");
}
.detail-wrapper#detail-tide {
  background-image: -webkit-linear-gradient(180deg, #e2ffd9, #cccca3);
  background-image: -moz-linear-gradient(180deg, #e2ffd9, #cccca3);
  background-image: -o-linear-gradient(180deg, #e2ffd9, #cccca3);
  background-image: linear-gradient(180deg, #e2ffd9, #cccca3);
}
.detail-wrapper#detail-tide .department-logo {
  background-image: url("imgs/tide.png");
}
.detail-wrapper#detail-tech {
  background-image: -webkit-linear-gradient(180deg, #f5d9ff, #a3a3cc);
  background-image: -moz-linear-gradient(180deg, #f5d9ff, #a3a3cc);
  background-image: -o-linear-gradient(180deg, #f5d9ff, #a3a3cc);
  background-image: linear-gradient(180deg, #f5d9ff, #a3a3cc);
}
.detail-wrapper#detail-tech .department-logo {
  background-image: url("imgs/tech.png");
}
.detail-wrapper#detail-pm {
  background-image: -webkit-linear-gradient(180deg, #d9d9ff, #a3c2cc);
  background-image: -moz-linear-gradient(180deg, #d9d9ff, #a3c2cc);
  background-image: -o-linear-gradient(180deg, #d9d9ff, #a3c2cc);
  background-image: linear-gradient(180deg, #d9d9ff, #a3c2cc);
}
.detail-wrapper#detail-pm .department-logo {
  background-image: url("imgs/pm.png");
}
#joinus .line {
  display: block;
}
#joinus .line p {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1em;
}
#joinus .line:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
#joinus .line.note {
  font-size: 0.8em;
  color: #808080;
}
#joinus .line .input {
  margin-bottom: 1em;
  display: inline-block;
  float: left;
  position: relative;
  min-height: 2em;
  margin-right: 2em;
}
#joinus .line .input:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
#joinus .line .input.error {
  border-color: #f00 !important;
}
#joinus .line .input.input-text {
  border-bottom: 2px solid #000;
}
#joinus .line .input.input-text label {
  cursor: text;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  color: #808080;
  font-size: 1em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#joinus .line .input.input-text.focus label {
  font-size: 0.6em;
  top: -1.5em;
  color: #000;
}
#joinus .line .input.input-text input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 1em;
  padding: 0.2em;
  outline: 0;
  border: 0;
  width: 100%;
}
#joinus .line .input.input-select {
  cursor: pointer;
  height: 2em;
}
#joinus .line .input.input-select:after {
  visibility: visible;
  content: "";
  width: 0;
  height: 0;
  border-color: #000 transparent transparent transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 5;
}
#joinus .line .input.input-select .choses {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #000;
  width: 100%;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  background-color: #fff;
}
#joinus .line .input.input-select .choses .option {
  display: block;
  height: 0;
  line-height: 2em;
  padding-left: 0.5em;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#joinus .line .input.input-select .choses .option.checked {
  height: 2em;
}
#joinus .line .input.input-select.focus {
  z-index: 10;
}
#joinus .line .input.input-select.focus .choses .option {
  height: 2em;
}
#joinus .line .input.input-select.focus .choses .option:hover {
  background-color: #eee;
}
#joinus .line .input.input-textarea {
  overflow: hidden;
  height: auto;
  padding: 0.1em 0;
  width: 100%;
}
#joinus .line .input.input-textarea .prompt {
  width: 100%;
}
#joinus .line .input.input-textarea textarea {
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-top-color: #000;
  border-bottom-color: #000;
  border-left-color: transparent;
  border-right-color: transparent;
  padding: 0.5em;
  min-height: 5em;
}
#joinus .line .input.input-file {
  width: 100%;
}
#joinus .line .input.input-file .prompt {
  width: 100%;
}
#joinus .line .input.input-file .note {
  color: #808080;
  font-size: 0.8em;
  text-indent: 2em;
}
#joinus .line .input.input-file .button {
  display: inline-block;
  float: right;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  line-height: 28px;
}
#joinus .line .input.input-file input[type=file] {
  display: none;
}
#joinus .line .input.input-file #list {
  list-style: disc outside none;
  padding-left: 2em;
}
#joinus .line .input.input-file #list .list-item:hover {
  background-color: #fdd;
}
#joinus .line .input.input-file #list .list-item:hover:after {
  content: "X";
  color: #f00;
  float: right;
  margin-right: 0.5em;
  cursor: pointer;
}
#joinus .line .input.input-submit {
  width: 100%;
}
#joinus .line .input .button {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  line-height: 2em;
  height: 2em;
  text-align: center;
  border-radius: 1em;
  border: 2px solid #000;
  display: inline-block;
  float: left;
}
#joinus {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  -webkit-transition: height 0s ease 1s;
  -moz-transition: height 0s ease 1s;
  transition: height 0s ease 1s;
}
#joinus #joinus-wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 0;
  height: 0;
  margin-top: 0;
  margin-right: 0;
  border-radius: 0;
  -webkit-transition: all 1s ease 0.2s;
  -moz-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
#joinus #joinus-wrapper .back {
  height: 100px;
  width: 50px;
  font-size: 48px;
  line-height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 1em;
  z-index: 25;
  color: #000;
  text-decoration: none;
  opacity: 0;
}
#joinus #joinus-wrapper #joinus-positioner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1em;
  position: fixed;
  height: 100%;
  line-height: 100vh;
  width: 45%;
  min-width: 24em;
  right: -100%;
  top: 0;
  -webkit-transition: right 0.5s ease-in 0s;
  -moz-transition: right 0.5s ease-in 0s;
  transition: right 0.5s ease-in 0s;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0.3em;
}
#joinus #joinus-wrapper #joinus-positioner #joinus-aligner {
  width: 100%;
  padding-right: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
}
#joinus #input-name,
#joinus #input-gender,
#joinus #input-long,
#joinus #input-short,
#joinus #input-class,
#joinus #input-grade {
  width: 45%;
}
#joinus #input-email,
#joinus #input-id,
#joinus #input-first-chose,
#joinus #input-second-chose {
  width: 100%;
}
#joinus .input.right {
  float: right;
  margin-right: 0;
}
#joinus:target {
  height: 100%;
  -webkit-transition: height 0s ease 0s;
  -moz-transition: height 0s ease 0s;
  transition: height 0s ease 0s;
}
#joinus:target #joinus-wrapper {
  width: 2000px;
  height: 2000px;
  margin-top: -1000px;
  border-radius: 5000px;
  background-color: #fff;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
#joinus:target #joinus-wrapper .back {
  opacity: 1;
}
#joinus:target #joinus-wrapper #joinus-positioner {
  -webkit-transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  -moz-transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  right: 0;
}
